* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #f8fafc;
    color: #1f2937;
}

/* Dashboard Container */
.dashboard-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

/* Website Title */

.dashboard-header{
    margin-bottom: 30px;
}

.website-title{
    font-size: 28px;
    font-weight: 700;
}

/* Dashboard Summary Section */

.dashboard-summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

/* Dashboard summary-card design */
.summary-card{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.summary-title{
    font-size: 16px;
    margin-bottom: 10px;
    color: #373c44;
}

.summary-count {
    font-size: 25px;
    font-weight: bold;
}


/* Available Jobs Section */
.available-jobs-section{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Jobs Header */
.jobs-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.jobs-title{
    font-size: 22px;
    font-weight: 600;   
}

.jobs-count {
    font-size: 16px;
    font-weight: 500;  
}

/* Tabs Buttons Design */
.jobs-tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.tab-button{
    padding: 8px;
    border-radius: 6px;
    border:1px solid #d1d5db;
    background-color: #f3f4f6;
    cursor: pointer;
    font-size: 14px;
}

.tab-button.active-tab{
    background-color: #2563eb;
    color: #ffffff;
    border-color: #2563eb;
}


/* Cards Container */

.jobs-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}



/* Responsive Mobile */

/* Dashboard part */

@media (max-width: 768px){
    .dashboard-summary {
        grid-template-columns: 1fr;
    }
}



